services:
  expense-api:
    container_name: expense-api-development
    domainname: ${DOMAIN_NAME:-development.internal}
    image: expense-api-development:latest
    restart: "no"
    env_file:
      - ./.env
    build:
      context: .
      target: development
      dockerfile: Dockerfile
      cache_from:
        - expense-api-development:latest
    ports:
      - "${PORT:-4000}:4000"
      - "9229:9229"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    read_only: false
    security_opt: []
    cap_drop: []
    secrets:
      - source: database_password
        target: database_password
        mode: 0440
      - source: redis_password
        target: redis_password
        mode: 0440
      - source: jwt_secret
        target: jwt_secret
        mode: 0440
    develop:
      watch:
        - action: sync
          path: ./src
          target: /usr/src/app/src
          ignore:
            - node_modules/
            - test/
            - dist/
        - action: sync
          path: ./package.json
          target: /usr/src/app/package.json

  postgres:
    container_name: postgres-development
    hostname: postgres
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: /run/secrets/database_password
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    secrets:
      - source: database_password
        target: database_password
        mode: 0440
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - expense-api-network
    read_only: false
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
      start_interval: 5s

volumes:
  postgres-data:

secrets:
  database_password:
    file: ./secrets/databasePassword.txt
  redis_password:
    file: ./secrets/redisPassword.txt
  jwt_secret:
    file: ./secrets/jwtSecret.txt
