name: Master CI

on:
    workflow_run:
        workflows: ['PR CI']
        types:
            - completed
        branches:
            - master

concurrency:
    group: ${{ github.workflow }}-${{ github.event.workflow_run.head_sha || github.sha }}
    cancel-in-progress: true

env:
    SHA: ${{ github.event.workflow_run.head_sha || github.sha }}

jobs:
    run-and-test:
        if: github.event.workflow_run.conclusion == 'success'
        timeout-minutes: 30
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the source
              uses: actions/checkout@v4
              with:
                  ref: ${{ env.SHA }}

            - name: Install node and node_modules
              uses: ./.github/actions/setup-node

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Run the enptrypoint
              run: pnpm run start:docker:ci
              env:
                  M0DE: ci
                  ENVIRONMENT: production
                  COMPOSE_FILE: docker-compose.swarm.ci.yml
                  STACK_NAME: ${{ vars.APP_NAME  }}-production
                  SERVICE_NAME: ${{ vars.APP_NAME  }}-production_${{ vars.APP_NAME  }}
                  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/${{ vars.APP_NAME  }}-production:${{ env.SHA }}
                  SECRETS: 'database_password=${{ secrets.DATABASE_PASSWORD }};redis_password=${{ secrets.REDIS_PASSWORD }};jwt_secret=${{ secrets.JWT_SECRET }}'

            - name: Scan the docker image
              uses: ./.github/actions/scan-docker-image
              with:
                  image_name: ${{ secrets.DOCKER_USERNAME }}/${{ vars.APP_NAME  }}-production:${{ env.SHA }}
